body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #71c0d8;
}

header {
    background-color: #000000;
    color: #fff;
    padding: auto;
    text-align: center;
    font-size: 24px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

section {
    background-color: #f6ea84;
    margin: 20px auto;
    padding: 20px;
    height: auto;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}

button, select {
    margin: 10px 0;
    padding: 12px 20px;
    font-size: 18px;
    background-color: #05397c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, select:hover {
    background-color: #373d45;
}

.results {
    background-color: #f6ea84;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    height: 70px;
    width: 250px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}

